body{
    h1{
        font-size: 26px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }
    h2{
        font-size: 20px;
        font-weight: 500;
    }
    h3{
        font-size: 18px;
        font-weight: 500;
    }
    p{
        font-size: 16px;
        font-family: 'Inter', sans-serif;

    }

}
.para-sm{
    font-size: 14px;  
}